        /* Corps de la page */
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #2c3e50; /* Bleu nuit */
            color: #ecf0f1; /* Texte clair */
        }
    
        /* Titre principal */
        h1 {
            text-align: center;
            font-size: 36px;
            margin-bottom: 30px;
            color: #3498db; /* Bleu clair */
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
    
        /* Formulaire */
        form {
            background-color: #34495e; /* Gris foncé */
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            max-width: 600px;
            margin: 0 auto;
        }
    
        /* Label et champs de saisie */
        label {
            font-size: 18px;
            color: #ecf0f1; /* Texte clair */
            display: block;
            margin-bottom: 8px;
        }
    
        input[type="text"] {
            width: 100%;
            padding: 12px;
            font-size: 16px;
            border: 2px solid #3498db; /* Bordure bleu clair */
            border-radius: 8px;
            background-color: #34495e; /* Fond gris foncé */
            color: #ecf0f1; /* Texte clair */
            margin-bottom: 20px;
            transition: border-color 0.3s;
        }
    
        /* Effet de focus sur les champs de saisie */
        input[type="text"]:focus {
            border-color: #2980b9; /* Bleu plus foncé */
            outline: none;
        }
    
        /* Bouton de soumission */
        button {
            display: block;
            width: 240px;
            margin: 20px auto;
            padding: 15px;
            font-size: 18px;
            background-color: #3498db; /* Bleu clair */
            color: #ffffff;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
            text-align: center;
        }
    
        
        button:hover {
            background-color: #2980b9; 
            transform: scale(0.4);
        }
    
        button:active {
            transform: scale(0.4);
        }
    

        a button {
            background-color: #95a5a6; 
        }
    
        a button:hover {
            background-color: #7f8c8d; 
        }