<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Create a CV{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <!-- Votre barre de navigation ici -->
        </nav>
    </header>
    
    <div class="content">
        {% block content %} 
        <!-- Le contenu de la page spécifique sera inséré ici -->
        {% endblock %}
    </div>

    <footer>
        <!-- Votre pied de page ici -->
    </footer>
</body>
</html>
